html, body, header, ul, li, input, a, button, h1, h2, h3, h4, h5, label, div,
span, nav, p, img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	font: inherit;
	color: inherit;
	text-align: inherit;
	text-decoration: inherit;
	vertical-align: inherit;
	box-sizing: inherit;
	background: transparent;
}

p {
	display: inline;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

#main {
	height: 100%;
}
