
// Font sizes
$font-size-main: 14px;
$font-size-h1: 38px;
$font-size-h2: 26px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 14px;
$font-size-h6: 12px;
$font-size-small: 12px;

// Gutter sizes
$gutter-extra-small: 2px;
$gutter-small: 5px;
$gutter: 10px;
$gutter-large: 20px;
$gutter-extra-large: 40px;

// Screen sizes
$bp-small: 320px !default;
$bp-medium: 680px !default;
$bp-medium-high: 960px !default;
$bp-large: 1200px !default;

$content-max-width: 800px;
$content-side-padding: 40px;
$content-top-padding: 80px;
