@import './_main.scss';
@import './fonts/_fonts.scss';

.Styleguide {
	font-family: Comfortaa;
	height: 100%;

	h1 {
		font-size: $font-size-h1;
	}

	h2 {
		font-size: $font-size-h2;
		font-weight: bold;
		margin-bottom: $gutter;
	}
}
