@font-face {
  font-family: 'Brandon';
  font-weight: 700;
  src: url('/app/stylesheets/fonts/Brandon_bld.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon';
  font-weight: 500;
  src: url('/app/stylesheets/fonts/Brandon_reg.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon';
  font-weight: 300;
  src: url('/app/stylesheets/fonts/Brandon_light.otf') format('opentype');
}
