@font-face {
    font-family: 'Comfortaa';
    font-weight: 700;
    src: url('/app/stylesheets/fonts/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    font-weight: 500;
    src: url('/app/stylesheets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    font-weight: 300;
    src: url('/app/stylesheets/fonts/Comfortaa-Light.ttf') format('truetype');
}
