@import '../stylesheets/_main.scss';

.Header-wrapper {
  border-bottom: 1px solid #ccc;

  @media(min-width: $bp-medium) {
    width: 100%;
    top: 0;
  }
}

.Header-fixed {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: white;

  @media(min-width: $bp-medium) {
    display: block;
  }
}

.Header-normal {

  & > ul {
    display: none;

    @media(min-width: $bp-medium) {
      display: flex;
    }
  }
}

.Header-fixedDisable {
  display: none;
}

.Header-header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  font-family: 'NightWind';
  font-size: 30px;
  margin-bottom: 10px;

  @media(min-width: $bp-medium) {
    font-size: 48px;
    margin-bottom: inherit;
  }
}

.Header-list {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 20px $content-side-padding;
  max-width: $content-max-width;

  a:hover {
    cursor: pointer;
  }
}
