@import '../stylesheets/_main.scss';

.Header-wrapper {
  display: none;
  border-bottom: 1px solid #ccc;

  @media(min-width: $bp-medium) {
    display: block;
    width: 100%;
    top: 0;
  }
}

.Header-fixed {
  position: fixed;
  z-index: 1000;
  background-color: white;
}

.Header-list {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 20px $content-side-padding;
  max-width: $content-max-width;
}
