@import '../stylesheets/_main.scss';

.RSVPList-buttonContainer {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
}

.RSVPList-buttonContainer.RSVPList-disable {
  background-color: #CCC;
}

.RSVPList-button {
  flex-grow: 1;
  align-self: center;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.RSVPList-successMessage {
  text-align: center;
  margin: 60px 0;
}

.RSVPList-successImage {
  width: 400px;
}

.RSVPList-errors {
  margin: 5px;
  color: #E91B2F;
}
