@import '../stylesheets/_main.scss';

.RSVP-inputContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px;

  @media(min-width: $bp-medium) {
    flex-direction: row;
  }
}

.RSVP-title {
  flex-grow: 1;
  flex-basis: 100%;
  margin: 0 5px;
}

.RSVP-inputWrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  &:hover {
    cursor: text;
  }

  & > input {
    width: 100%;
  }
}

.RSVP-inputWrapper--firstName,
.RSVP-inputWrapper--lastName {
  flex-grow: 1;
  flex-basis: 45%;
}

.RSVP-inputWrapper--email {
  flex-grow: 1;
  flex-basis: 100%;
}
